<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bookingform.css" />
    <title>CabOfComfort</title>
  </head>
  <body>
    <header>
      <h1 id="title">Cab of Comfort</h1>
      <h3 id="title">your comfortable ride , few clicks away</h3>
    </header>

    <div id="form-outer">
      <form method="post" action="/">
        {% csrf_token %}
        <h3 id="title"></h3>

        <div class="rowTab">
          <div class="labels">
            <label for="tickenumber">Enter Ticket Number</label>
          </div>
          <div class="rightTab">
            <input name="tickenumber" id="tickenumber" class="input" required />
          </div>
        </div>
        <div class="rowTab">
          <div class="">
            <input type="checkbox" name="check" id="terms" value="1" required />
            <label>Are you sure, you want to cancel Ticket</label>
          </div>
        </div>

        <button id="procced" class="submit" type="submit">Procced</button>
      </form>
    </div>
  </body>
</html>
